---
title: Schedule
layout: main
---

<p>
  This schedule should be considered tentative and subject to change,
  at least until it actually takes place!  Regular meetings take place
  from 8:00-9:15 on TR on Zoom; alternate meetings are in Gather.town
  on TR from 1:25-2:40.  These alternate meetings are meant for small
  groups who cannot make the 8 AM time.  I will be present for at
  least part of the meeting on Thursdays (during my office hours).
</p>

<div class="table-responsive">
  <table class="table table-striped">
    <colgroup>
      <col class="col-xs-1">      
      <col class="col-xs-1">
      <col class="col-xs-2">      
      <col class="col-xs-5">
      <col class="col-xs-3">      
    </colgroup>
    <thead>
      <tr>
        <th>Week</th>
        <th>Day</th>
        <th>Date</th>        
        <th>Topic</th>
        <th>Slides, notes, and HW</th>
      </tr>
    </thead>
    {% for lec in site.data.lectures %}
    <tr{% if lec.break %} class="info"{% endif %}{% if lec.travel %} class="warning"{% endif %}>
      {% assign day = lec.date | date: "%a" %}
      <td>{% if day == "Tue" %}{{ lec.date | date: "%U" | plus: -34 }}{% endif %}</td>
      <td>{{ day }},</td>
      <td>{{ lec.date | date: "%b %d" }}</td>      
      {% if lec.break %}
      <td>{{ lec.break }}</td>
      {% else %}
      <td>{{ lec.info | markdownify }}</td>
      {% endif %}
      <td>
        {% if lec.files %}<ul>
          {% for item in lec.files %}<li><a href="{{ item.file | relative_url }}">{{ item.info }}</a></li>{% endfor %}
        </ul>{% endif %}
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
